<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {%csrf_token%}
        <table border="1">
        <tr><td>Enter Book name</td>
            <td><input type="text" name="bname"/></td></tr>
        <tr><td>Enter Author</td>
            <td><input type="text" name="author"/></td></tr>
         <tr><td>Enter Book name</td>
            <td><input type="text" name="price"/></td></tr>
    <tr><td><input  type="submit" value="add book" /></td>
    <td></td></tr>
    </table> 
    
</body>
</html>