<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Editebook</title>
</head>
<body>
    <form method="POST">
        {%csrf_token%}
        <table>
            <tr><td>bname</td>
            <td><input type="text" name="bname" value="{{book.bname}}"
                required/></td></tr>
            <tr><td>author</td>
                <td><input type="text" name="author" value="{{book.author}}"
                    required/></td></tr>
            <tr><td>price</td>
                        <td><input type="text" name="price" value="{{book.price}}"
                            required/></td></tr>
  
            <tr><td><input type="submit" value="Update-Book"/></td>
            <td></td></tr>
        </table>
    </form>

  
</body>
</html> 

</html>